body {
    background-image: url(https://previews.123rf.com/images/denisfilm/denisfilm1712/denisfilm171200618/91475377-pajama-jacket-and-pants-white-and-pink-cute-design-and-cozy-fabric-sleepwear-for-little-girls.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}